/* Style cho các form */
.form-label {
    font-weight: bold; /* Làm cho nhãn của các trường form đậm */
}

.btn-primary {
    background-color: #e60000; /* Màu nền cho nút đăng nhập */
    border: none; /* Bỏ đường viền */
}

.btn-primary:hover {
    background-color: #e60000; /* Màu nền khi hover */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
}

/* Thay đổi màu nền cho các modal khi mở */
.modal.fade .modal-dialog {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show .modal-dialog {
    opacity: 1;
}

.auth-icon.login {
    margin-left: 1px; /* Khoảng cách bên trái cho biểu tượng */
}

.auth-icon.login i {
    margin-right: 10px; /* Khoảng cách giữa biểu tượng và chữ */
}


/* CSS for Centered Login Form */
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login-form {
    width: 100%;
    max-width: 500px;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-group input {
    margin-top: 5px;
    margin-bottom: 15px;
}

.btn-block {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #e60000;
    box-shadow: 0 0 5px #e60000;
}

